@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand", sans-serif;
  color: #0d2c44;
}

#main {
  width: 100%;
  height: 11vh;
  position: relative;
}

.no-hover {
  pointer-events: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0f2c44;
  font-weight: 500;
  font-family: "Quicksand";
  letter-spacing: 1px;
  z-index: 1;
}

.logo img {
  height: 45px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li a {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8em;
  font-weight: 500;
  color: white;
}

a {
  text-decoration: none;
}

.menu li a:hover {
  border-radius: 20px;
  color: #0f2c44;
  background-color: white;
  font-weight: bold;
  font-size: 1em;
  box-shadow: 5px 10px 30px rgba(255, 255, 255, 0.35);
}
/* Navigation */

.card {
  margin: 50px;
  border-radius: 20px;
  box-shadow: 5px 10px 30px rgba(13, 44, 68, 0.25);
}

.con li {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}
.fa {
  color: #0d2c44;
  font-size: 20px;
  margin-right: 10px;
}

.con li span {
  color: #0d2c44;
}

.con li a {
  color: #0d2c44;
  text-decoration: none;
}

.con li a:hover {
  font-size: 1.2em;
  transition: all ease 0.3s;
}

.content {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 40px 10px;
}

.content img {
  width: 40%;
  border-radius: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px;
}

#name {
  font-weight: bold;
  font-size: 1.9em;
  margin: 0px;
}

.sci {
  margin-top: 20px;
  display: flex;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 4px;
  text-decoration: none;
}

.sci li a i {
  transform: scale(1.3);
}

.sci li a i:hover {
  transform: scale(1.5);
  transition: all ease 0.3s;
}

#skill {
  font-weight: bold;
}
