@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
display-flex,
.display-flex,
.display-flex-center,
.signup-content,
.signin-content,
.social-login,
.socials {
  display: flex;
  display: -webkit-flex;
}
list-type-ulli,
.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s;
}
input,
select,
textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}
p {
  margin-bottom: 0;
  font-size: 15px;
  color: #777;
}
h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #222;
  font-size: 36px;
}
.main {
  padding: 150px 0;
}
.clear {
  clear: both;
}
body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}
.container {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}
.display-flex {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}
.display-flex-center {
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
}
.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.signup {
  margin-bottom: 150px;
}
.signup-content {
  padding: 75px 0;
}
.signup-form,
.signup-image,
.signin-form,
.signin-image {
  width: 50%;
  overflow: hidden;
}
.signup-image {
  margin: 0 55px;
}
.form-title {
  margin-bottom: 33px;
}
.signup-image {
  margin-top: 45px;
}
figure {
  margin-bottom: 50px;
  text-align: center;
}
.form-submit {
  /* display: inline-block; */
  background: #fff;
  color: #0d2c44;
  border: 1px solid #0d2c44;
  width: auto;
  padding: 15px 39px;
  border-radius: 25px;
  margin-top: 25px;
  cursor: pointer;
  font-weight: bold;
}
.form-submit:hover {
  background: #0d2c44;
  color: #fff;
  font-size: 1.1em;
  transition: all ease 0.05s;
  font-weight: bold;
}

#signin {
  margin-top: 16px;
}
.signup-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  text-align: center;
}
.term-service {
  font-size: 13px;
  color: #222;
}
.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}
.register-form {
  width: 100%;
}
.form-group {
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
}
.form-group:last-child {
  margin-bottom: 0;
}
input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  box-sizing: border-box;
}
input::-webkit-input-placeholder {
  color: #999;
  font-weight: bold;
}
input::-moz-placeholder {
  color: #999;
}
input:-ms-input-placeholder {
  color: #999;
}
input:-moz-placeholder {
  color: #999;
}
input:focus {
  border-bottom: 1px solid #222;
}
input:focus::-webkit-input-placeholder {
  color: #222;
}
input:focus::-moz-placeholder {
  color: #222;
}
input:focus:-ms-input-placeholder {
  color: #222;
}
input:focus:-moz-placeholder {
  color: #222;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  color: #222;
}
.label-has-error {
  top: 22%;
}
label.error {
  position: relative;
  background: url(../images/unchecked.gif) no-repeat;
  background-position-y: 3px;
  padding-left: 20px;
  display: block;
  margin-top: 20px;
}
label.valid {
  display: block;
  position: absolute;
  right: 0;
  left: auto;
  margin-top: -6px;
  width: 20px;
  height: 20px;
  background: 0 0;
}
label.valid:after {
  font-family: material-design-iconic-font;
  content: "\f269";
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 16px;
  color: green;
}

.label-agree-term {
  position: relative;
  top: 0%;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
}
.material-icons-name {
  font-size: 18px;
}
.signin-content {
  padding-top: 67px;
  padding-bottom: 87px;
}
.signin-form {
  margin-right: 90px;
  margin-left: 80px;
}
.signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px;
}
@media screen and (max-width: 1200px) {
  .container {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 768px) {
  .signup-content,
  .signin-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }
  .signup-form {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding: 0 30px;
  }
  .signin-image {
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
    order: 2;
    -moz-order: 2;
    -webkit-order: 2;
    -o-order: 2;
    -ms-order: 2;
  }
  .signup-form,
  .signup-image,
  .signin-form,
  .signin-image {
    width: auto;
  }
  .social-login {
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
  }
  .form-button {
    text-align: center;
  }
  .signin-form {
    order: 1;
    -moz-order: 1;
    -webkit-order: 1;
    -o-order: 1;
    -ms-order: 1;
    margin-right: 0;
    margin-left: 0;
    padding: 0 30px;
  }
  .form-title {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .social-login {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
  }
  .social-label {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
}

#main {
  width: 100%;
  height: 11vh;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0f2c44;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
  z-index: 1;
}

.logo img {
  height: 45px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li a {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8em;
  font-weight: 500;
  color: white;
}

a {
  text-decoration: none;
}

.menu li a:hover {
  border-radius: 20px;
  color: #0f2c44;
  background-color: white;
  font-weight: bold;
  font-size: 1em;
  box-shadow: 5px 10px 30px rgba(255, 255, 255, 0.35);
}

.back-btn {
  text-decoration: none;
  color: #0d2c44;
}

.button-back {
  width: 3em;
  height: 3em;
  margin: 1em;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #0d2c44;
  color: #0d2c44;
}

.button-back:hover {
  color: #fff;
  background-color: #0d2c44;
}

.button-back:hover .back-btn {
  color: #fff;
}
