{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'images/VITlogo.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
  </head>
  <body style="background: url(../static/images/body_bg.png)">
    <h3>Password reset complete</h3>

    <p style="color: #0d2c44; font-size: 20px">
      Your password has been set. You may go ahead and log in now.
    </p>
    <br />
    <a class="form-submit" href="/">Log in</a>
  </body>
</html>
