{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="icon"
      type="image/png"
      href="{% static 'images/VITlogo.png' %}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/signin.css' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VIT| SignUp</title>
  </head>
  <body style="background: url(../static/images/body_bg.png)">
    <div id="msg"></div>
    <div class="main">
      <section class="signup">
        <div class="container">
          <a href="/" class="back-btn"
            ><button type="button" class="button-back">
              <i class="fa fa-arrow-left" aria-hidden="true"></i></button
          ></a>
          <div class="signup-content">
            <div class="signup-form">
              <h2 class="form-title" style="color: #0d2c44">Student SignUp</h2>
              <form
                method="POST"
                class="register-form"
                id="register-form"
                action="/stusignup"
              >
                {% csrf_token %}
                <div class="form-group">
                  <label for="name"
                    ><i
                      class="zmdi zmdi-account fa fa-user"
                      area-hidden="true"
                    ></i
                  ></label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Your Name"
                    autofocus
                    required
                  />
                </div>
                <div
                  class="valid-name"
                  style="color: hsl(120, 100%, 35%); margin-bottom: 8px"
                  hidden="true"
                >
                  <b>Valid Name!</b>
                </div>
                <div
                  class="invalid-name"
                  style="color: red; margin-bottom: 8px"
                  hidden="true"
                >
                  <b>Please enter valid name!</b>
                </div>
                <div class="form-group">
                  <label for="username"
                    ><i
                      class="zmdi zmdi-account fa fa-user"
                      area-hidden="true"
                    ></i
                  ></label>
                  <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="Username"
                    required
                  />
                </div>
                <div
                  class="valid-username"
                  style="color: hsl(120, 100%, 35%); margin-bottom: 8px"
                  hidden="true"
                >
                  <b>Valid Username!</b>
                </div>
                <div
                  class="invalid-username"
                  style="color: red; margin-bottom: 8px"
                  hidden="true"
                >
                  <b>Please enter valid username(4-10 characters)!</b>
                </div>
                <div class="form-group">
                  <label for="email"
                    ><i
                      class="zmdi zmdi-email fa fa-envelope"
                      area-hidden="true"
                    ></i
                  ></label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Your Email"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="branch"
                    ><i
                      class="zmdi zmdi-email fa fa-institution"
                      area-hidden="true"
                    ></i
                  ></label>
                  <input
                    type="text"
                    placeholder="Branch"
                    id="branch"
                    list="branches"
                    name="branch"
                    required
                  />
                  <datalist id="branches">
                    <option>CMPN</option>
                    <option>INFT</option>
                    <option>EXTC</option>
                    <option>ETRX</option>
                    <option>BIOM</option>
                  </datalist>
                </div>
                <div class="form-group">
                  <label for="yog"
                    ><i
                      class="zmdi zmdi-email fa fa-graduation-cap"
                      area-hidden="true"
                    ></i
                  ></label>
                  <input
                    type="tel"
                    name="yog"
                    id="yog"
                    placeholder="Year of Graduation"
                    required
                  />
                </div>
                <div
                  class="valid-yog"
                  style="color: hsl(120, 100%, 35%); margin-bottom: 8px"
                  hidden="true"
                >
                  <b>Valid Year!</b>
                </div>
                <div
                  class="invalid-yog"
                  style="color: red; margin-bottom: 8px"
                  hidden="true"
                >
                  <b>Please enter valid year!</b>
                </div>
                <div class="form-group">
                  <label for="contact"
                    ><i
                      class="zmdi zmdi-email fa fa-phone"
                      area-hidden="true"
                    ></i
                  ></label>
                  <input
                    type="tel"
                    name="contact"
                    id="contact"
                    placeholder="Contact"
                    required
                  />
                </div>
                <div
                  class="valid-phone"
                  style="color: hsl(120, 100%, 35%); margin-bottom: 8px"
                  hidden="true"
                >
                  <b>Valid Phone Number!</b>
                </div>
                <div
                  class="invalid-phone"
                  style="color: red; margin-bottom: 8px"
                  hidden="true"
                >
                  <b>Please enter valid phone number!</b>
                </div>
                <div class="form-group">
                  <label for="pass"
                    ><i class="zmdi zmdi-lock fa fa-lock" area-hidden="true"></i
                  ></label>
                  <input
                    type="password"
                    name="pass"
                    id="pass"
                    placeholder="Password"
                    required
                  />
                </div>
                <div
                  class="valid-pass"
                  style="color: hsl(120, 100%, 35%); margin-bottom: 8px"
                  hidden="true"
                >
                  <b>Valid Password!</b>
                </div>
                <div
                  class="invalid-pass"
                  style="color: red; margin-bottom: 8px"
                  hidden="true"
                >
                  <b>Please enter 8-16 character (Ex:Vit@12345)</b>
                </div>
                <div class="form-group">
                  <label for="re-pass"
                    ><i
                      class="zmdi zmdi-lock-outline fa fa-lock"
                      area-hidden="true"
                    ></i>
                  </label>
                  <input
                    type="password"
                    name="re_pass"
                    id="re_pass"
                    placeholder="Confirm Password"
                    required
                  />
                </div>

                <div class="form-group form-button">
                  <input
                    type="submit"
                    name="signup"
                    id="signup"
                    class="form-submit"
                    value="Register"
                  />
                </div>
              </form>
            </div>
            <div class="signup-image">
              <figure>
                <img
                  src="{% static 'images/signup-image.jpg' %}"
                  alt="signup up image"
                />
              </figure>
              <a href="stusignin" class="signup-image-link"
                >I am already a member</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
    {% if mess %}
    <script>
      window.onload = function () {
        var message = document.getElementById("msg");
        message.innerHTML = `<div class="alert alert-danger alert-dismissible fade show fixed-top" role="alert">
      <strong> Error!!: </strong>{{ mess }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>`;
      };
    </script>
    {% endif %}
  </body>
  <script>
    let name = document.getElementById("name");
    let validname = document.getElementsByClassName("valid-name");
    let invalidname = document.getElementsByClassName("invalid-name");
    let username = document.getElementById("username");
    let validusername = document.getElementsByClassName("valid-username");
    let invalidusername = document.getElementsByClassName("invalid-username");
    let yog = document.getElementById("yog");
    let validyog = document.getElementsByClassName("valid-yog");
    let invalidyog = document.getElementsByClassName("invalid-yog");
    let contact = document.getElementById("contact");
    let validcontact = document.getElementsByClassName("valid-phone");
    let invalidcontact = document.getElementsByClassName("invalid-phone");
    let password = document.getElementById("pass");
    let validpass = document.getElementsByClassName("valid-pass");
    let invalidpass = document.getElementsByClassName("invalid-pass");
    name.addEventListener("input", () => {
      let regex = /^([a-zA-Z ])+$/;
      let str = name.value;
      if (regex.test(str)) {
        validname[0].removeAttribute("hidden");
        invalidname[0].setAttribute("hidden", "true");
        name.style.borderBottom = "1px solid lightgreen";
      } else {
        validname[0].setAttribute("hidden", "true");
        invalidname[0].removeAttribute("hidden");
        name.style.borderBottom = "1px solid red";
      }
    });
    password.addEventListener("input", () => {
      let regex =
        /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,16}$/;
      let str = password.value;
      if (regex.test(str)) {
        validpass[0].removeAttribute("hidden");
        invalidpass[0].setAttribute("hidden", "true");
        password.style.borderBottom = "1px solid lightgreen";
      } else {
        validpass[0].setAttribute("hidden", "true");
        invalidpass[0].removeAttribute("hidden");
        password.style.borderBottom = "1px solid red";
      }
    });
    contact.addEventListener("input", () => {
      let regex = /^[0-9]([0-9]){9}$/;
      let str = contact.value;
      if (regex.test(str)) {
        validcontact[0].removeAttribute("hidden");
        invalidcontact[0].setAttribute("hidden", "true");
        contact.style.borderBottom = "1px solid lightgreen";
      } else {
        validcontact[0].setAttribute("hidden", "true");
        invalidcontact[0].removeAttribute("hidden");
        contact.style.borderBottom = "1px solid red";
      }
    });
    username.addEventListener("input", () => {
      let regex = /^([a-zA-Z])([a-zA-Z0-9]){3,9}$/;
      let str = username.value;
      if (regex.test(str)) {
        validusername[0].removeAttribute("hidden");
        invalidusername[0].setAttribute("hidden", "true");
        username.style.borderBottom = "1px solid lightgreen";
      } else {
        validusername[0].setAttribute("hidden", "true");
        invalidusername[0].removeAttribute("hidden");
        username.style.borderBottom = "1px solid red";
      }
    });
    yog.addEventListener("input", () => {
      let regex = /^2([0-9]){3}$/;
      let str = yog.value;
      if (regex.test(str)) {
        validyog[0].removeAttribute("hidden");
        invalidyog[0].setAttribute("hidden", "true");
        yog.style.borderBottom = "1px solid lightgreen";
      } else {
        validyog[0].setAttribute("hidden", "true");
        invalidyog[0].removeAttribute("hidden");
        yog.style.borderBottom = "1px solid red";
      }
    });
  </script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
</html>
